<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <style>
      .body {
        background-color: #d1ebef;
        font-family: "Arial", sans-serif;
      }
      .header-text {
        color: #121df5;
        font-weight: bold;
      }
      .form-container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        transition: all 0.3s ease;
      }
      .input-field {
        border: 2px solid #1a17ba;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
      }
      .forgot-password {
        color: #321b9a;
        text-align: right;
      }
      .sign-in-button {
        background-color: #2a13be;
        color: white;
        font-weight: bold;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
      }
      .sign-up-link {
        color: #261b9a;
        font-weight: bold;
      }
      .footer {
        background-color: #c7e6e8;
        width: 100%;
        padding: 10px;
      }
      .tab-active {
        background-color: #a1a0e3;
      }
      .tab-inactive {
        background-color: #ffffff;
      }
      .smooth-appear {
        opacity: 0;
        transform: translateY(-20px);
        animation: appear 0.5s ease forwards;
      }
      @keyframes appear {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    </style>
    <title><%= title %></title>
  </head>
  <body class="flex flex-col items-center justify-center min-h-screen">
    <main class="flex flex-col items-center relative">
      <div class="px-10 py-8 rounded-lg shadow-lg form-container smooth-appear">
        <div class="fade show"></div>

        <h1 class="header-text text-2xl mb-4">FORGET PASSWORD</h1>

        <div
          class="form-container w-full max-w-xs relative z-10 justify-center"
          id="forgetpassword-form-container">
          <form
            id="forgetpassword-form"
            class="space-y-4"
            action="/forgetpassword/User"
            method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="mb-4">
              <label for="email" class="block text-sm font-medium">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="input-field shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Enter Your Email"
                required />
            </div>
            <div class="mb-4">
              <label for="newpass" class="block text-sm font-medium">New Password</label>
              <input
                type="password"
                id="newpass"
                name="newpass"
                class="input-field shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Enter Your New Password"
                required />
            </div>
            <div class="mb-4">
              <label for="confirmpass" class="block text-sm font-medium">confirm Password</label>
              <input
                type="password"
                id="confirmpass"
                name="confirmpass"
                class="input-field shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Enter Your confirm Password"
                required />
            </div>
            <div class="mt-6">
              <button type="submit" class="sign-in-button w-full py-2 px-4 rounded-md">
                Change Your Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
