<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <style>
      .body {
        background-color: #d1ebef;
        font-family: "Arial", sans-serif;
      }
      .header-text {
        color: #1230f5;
        font-weight: bold;
      }
      .form-container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        transition: all 0.3s ease;
      }
      .input-field {
        border: 2px solid #172aba;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
      }
      .sign-in-button {
        background-color: #1913be;
        color: white;
        font-weight: bold;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
      }
      .sign-up-link {
        color: #1b1d9a;
        font-weight: bold;
      }
      .footer {
        background-color: #c7e6e8;
        width: 100%;
        padding: 10px;
      }
      .tab-active {
        background-color: #a6a0e3;
      }
      .tab-inactive {
        background-color: #ffffff;
      }
      .smooth-appear {
        opacity: 0;
        transform: translateY(-20px);
        animation: appear 0.5s ease forwards;
      }
      @keyframes appear {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    </style>
    <title><%= title %></title>
  </head>
  <body class="flex flex-col items-center justify-center min-h-screen">
    <main class="flex flex-col items-center relative">
      <div class="px-10 py-8 rounded-lg shadow-lg form-container smooth-appear">
        <h1 class="header-text text-2xl mb-4">SIGN UP TO YOUR ACCOUNT</h1>
        <div class="flex mb-6 justify-center space-x-4">
          <button
            id="signin-parent-tab"
            class="header-text-tab text-gray-600 px-4 py-2 rounded tab-active">
            As Educator
          </button>
          <button
            id="signin-child-tab"
            class="header-text-tab text-gray-600 px-4 py-2 rounded tab-inactive">
            AS Learner
          </button>
        </div>

        <div
          class="form-container w-full max-w-xs relative z-10 justify-center"
          id="signin-form-container">
          <form id="signin-parent-form" class="space-y-4" action="/users" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="role" value="Educator" />
            <div class="mb-4">
              <label for="Name" class="block text-sm font-medium">Name</label>
              <input
                type="text"
                id="name"
                name="name"
                class="input-field shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Enter Your Name"
                required />
            </div>
            <div class="mb-4">
              <label for="signin-parent-email" class="block text-sm font-medium">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="input-field shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Enter Your Email"
                required />
            </div>
            <div class="mb-4">
              <label for="signin-parent-password" class="block text-sm font-medium">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                class="input-field shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Password"
                required />
            </div>
            <div class="mt-6">
              <button type="submit" class="sign-in-button w-full py-2 px-4 rounded-md">
                SIGN UP
              </button>
            </div>
          </form>
          <form id="signin-child-form" class="space-y-4 hidden" action="/users" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="hidden" name="role" value="Learner" />
            <div class="mb-4">
              <label for="Name" class="block text-sm font-medium">Name</label>
              <input
                type="text"
                id="name"
                name="name"
                class="input-field shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Enter Your Name"
                required />
            </div>
            <div class="mb-4">
              <label for="signin-child-email" class="block text-sm font-medium">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="input-field shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Enter Your Email"
                required />
            </div>
            <div class="mb-4">
              <label for="signin-child-special-key" class="block text-sm font-medium"
                >Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                class="input-field shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Password"
                required />
            </div>
            <div class="mt-6">
              <button type="submit" class="sign-in-button w-full py-2 px-4 rounded-md">
                SIGN UP
              </button>
            </div>
          </form>
          <p class="mt-4 text-center">
            Already have an account? <a href="/login" class="sign-up-link">SIGN IN</a>
          </p>
        </div>
      </div>
    </main>
    <script>
      document.getElementById("signin-parent-tab").addEventListener("click", function () {
        document.getElementById("signin-parent-form").classList.remove("hidden");
        document.getElementById("signin-child-form").classList.add("hidden");
        this.classList.add("tab-active");
        this.classList.remove("tab-inactive");
        document.getElementById("signin-child-tab").classList.remove("tab-active");
        document.getElementById("signin-child-tab").classList.add("tab-inactive");
      });

      document.getElementById("signin-child-tab").addEventListener("click", function () {
        document.getElementById("signin-parent-form").classList.add("hidden");
        document.getElementById("signin-child-form").classList.remove("hidden");
        this.classList.add("tab-active");
        this.classList.remove("tab-inactive");
        document.getElementById("signin-parent-tab").classList.remove("tab-active");
        document.getElementById("signin-parent-tab").classList.add("tab-inactive");
      });

      window.addEventListener("DOMContentLoaded", function () {
        document.getElementById("signin-form-container").classList.add("smooth-appear");
      });
    </script>
  </body>
</html>
